.img{
    background-image: url("sankasyahaikei.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.td{
    font-size: 14px;
}

body{
    overflow-x: hidden;
}

li {
    list-style: none;
  }
  
  .header {
    background-color: #26d0c9;
    color: #fff;
    height: 90px;
  }
  
  .header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
  }
  
  .header-list li {
    float: left;
    padding: 33px 20px;
  }

.row_table,
.row_table td,
.row_table th {
  border: 1px solid #cbced2;
  border-collapse: collapse;
  text-align: center;
}

.row_table th {
  background: #01214d;
  color: #fff;
  padding: 4px 12px;
  display: block;
  width: 100%
}

.row_table td {
  padding: 4px 12px;
  display: block;
  width: 100%;
}
